flows.json
[
    {
        "id": "9fcb3dc635318115",
        "type": "tab",
        "label": "Sensor Global Broker",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c0cd1f72ee805db3",
        "type": "junction",
        "z": "9fcb3dc635318115",
        "x": 860,
        "y": 1460,
        "wires": [
            [
                "77cdbde2fd01bcb3"
            ]
        ]
    },
    {
        "id": "085f1b2e4f388948",
        "type": "junction",
        "z": "9fcb3dc635318115",
        "x": 800,
        "y": 2140,
        "wires": [
            [
                "4c6e214a87d116c5",
                "c0cd1f72ee805db3",
                "11c14e9a7351adf6",
                "ea6fec4dc5ee5f0e",
                "bbd9dfc107316be1",
                "2670d1d388dc7c71",
                "efddcd211edcadde",
                "931ee37392dd327b",
                "b2635cc5c2071f2a",
                "1d6873b99e85c90a",
                "4f89087ad937c93b"
            ]
        ]
    },
    {
        "id": "11c14e9a7351adf6",
        "type": "junction",
        "z": "9fcb3dc635318115",
        "x": 860,
        "y": 1520,
        "wires": [
            [
                "6506e7acfea9cd7c"
            ]
        ]
    },
    {
        "id": "ea6fec4dc5ee5f0e",
        "type": "junction",
        "z": "9fcb3dc635318115",
        "x": 860,
        "y": 1580,
        "wires": [
            [
                "0c30063b7b233956"
            ]
        ]
    },
    {
        "id": "bbd9dfc107316be1",
        "type": "junction",
        "z": "9fcb3dc635318115",
        "x": 860,
        "y": 1640,
        "wires": [
            [
                "daf9d15bcf6c2ad5"
            ]
        ]
    },
    {
        "id": "2670d1d388dc7c71",
        "type": "junction",
        "z": "9fcb3dc635318115",
        "x": 860,
        "y": 1700,
        "wires": [
            [
                "aed75b6fcc73841b"
            ]
        ]
    },
    {
        "id": "efddcd211edcadde",
        "type": "junction",
        "z": "9fcb3dc635318115",
        "x": 860,
        "y": 1760,
        "wires": [
            [
                "e5eff1e6ca25b60c"
            ]
        ]
    },
    {
        "id": "931ee37392dd327b",
        "type": "junction",
        "z": "9fcb3dc635318115",
        "x": 860,
        "y": 1820,
        "wires": [
            [
                "b56393b6ccce6403"
            ]
        ]
    },
    {
        "id": "b2635cc5c2071f2a",
        "type": "junction",
        "z": "9fcb3dc635318115",
        "x": 860,
        "y": 1880,
        "wires": [
            [
                "a60560cb95361988"
            ]
        ]
    },
    {
        "id": "1d6873b99e85c90a",
        "type": "junction",
        "z": "9fcb3dc635318115",
        "x": 860,
        "y": 1940,
        "wires": [
            [
                "f870a0a5211cf831"
            ]
        ]
    },
    {
        "id": "4f89087ad937c93b",
        "type": "junction",
        "z": "9fcb3dc635318115",
        "x": 860,
        "y": 2000,
        "wires": [
            [
                "17e5cd99902a7bcc"
            ]
        ]
    },
    {
        "id": "5899a7a7d75907f7",
        "type": "mqtt-broker",
        "name": "GB2",
        "broker": "\"\"",
        "port": "1883",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "085383537e4479a7",
        "type": "mqtt-broker",
        "name": "GB3",
        "broker": "\"\"",
        "port": "",
        "tls": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d6314b59f8ceda2f",
        "type": "mqtt-broker",
        "name": "GB4",
        "broker": "\"\"",
        "port": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "65157bf97529f3dd",
        "type": "mqtt-broker",
        "name": "GB5",
        "broker": "\"\"",
        "port": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "18635c819fe0c4ee",
        "type": "mqtt-broker",
        "name": "GB1",
        "broker": "\"\"",
        "port": "",
        "tls": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e0abf69e68f5655a",
        "type": "mqtt-broker",
        "name": "GB6",
        "broker": "\"\"",
        "port": "",
        "tls": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "86bd07697c1bc039",
        "type": "mqtt-broker",
        "name": "GB7",
        "broker": "\"\"",
        "port": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0b07d12b43fc3df1",
        "type": "mqtt-broker",
        "name": "GB8",
        "broker": "\"\"",
        "port": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f2c97bcad433a95c",
        "type": "mqtt-broker",
        "name": "GB9",
        "broker": "\"\"",
        "port": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "92fcc20085a38a9d",
        "type": "mqtt-broker",
        "name": "GB10",
        "broker": "\"\"",
        "port": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0873a71f8cb84061",
        "type": "prometheus-metric-config",
        "name": "wmo_wis2_sgb_messages_received_total",
        "help": "Number of messages published on the given topic",
        "labels": "centre_id,topic,report_by",
        "mtype": "counter"
    },
    {
        "id": "9e92109589568224",
        "type": "prometheus-exporter",
        "z": "9fcb3dc635318115",
        "name": "Received",
        "metric": "0873a71f8cb84061",
        "x": 1360,
        "y": 2140,
        "wires": []
    },
    {
        "id": "85c3a33eefc020da",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Init",
        "rules": [
            {
                "t": "set",
                "p": "timeout",
                "pt": "flow",
                "to": "60",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "flow",
                "to": "MQTT_GB_TOPIC",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "sensorid",
                "pt": "flow",
                "to": "SENSOR_CENTRE_ID",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "d1447bc75ae21ef2",
        "type": "inject",
        "z": "9fcb3dc635318115",
        "name": "Subscription",
        "props": [
            {
                "p": "action",
                "v": "subscribe",
                "vt": "str"
            },
            {
                "p": "topic",
                "v": "$split($env(\"MQTT_GB_TOPIC\"),\",\")",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "x": 310,
        "y": 1740,
        "wires": [
            [
                "fce927e3a0f0c278",
                "378b81b1f6f01883",
                "2471bc295382694f",
                "90b9986f88f1e8c4",
                "63d9c5cde307d4da",
                "d385aa05bd17d09b",
                "817fccedb8cc9eeb",
                "113f8128d0ab1bdb",
                "3016fb2f63e7130e",
                "41ef9bd32cc82579"
            ]
        ]
    },
    {
        "id": "404981e64ef044a9",
        "type": "inject",
        "z": "9fcb3dc635318115",
        "name": "Once",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 1000,
        "wires": [
            [
                "8df46908d3e1588f",
                "85c3a33eefc020da",
                "6501692e2b510b02",
                "3910ec40a4921a95",
                "70545e3412b2e853",
                "d865b3b3ddbaa808",
                "57af367797a2081f",
                "9b0de644f2fd750f",
                "6680235392ac1b0d",
                "fd74e273f63b6521",
                "725d4f21e24a430a"
            ]
        ]
    },
    {
        "id": "463b336bcecafeba",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Handle GB1",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.url",
                "pt": "msg",
                "to": "MQTT_GB_1_BROKER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_GB_1_BROKER\"),/wss/) or $contains($env(\"MQTT_GB_1_BROKER\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_GB_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_GB_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_GB_1_BROKERVERSION\")) = 0 ? 4 : $env(\"MQTT_GB_1_BROKERVERSION\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "gb[0]",
                "pt": "flow",
                "to": "GB_1_ID",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "gbcount[0]",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 740,
        "wires": [
            [
                "95bd8bfc43f81ec4"
            ]
        ]
    },
    {
        "id": "95bd8bfc43f81ec4",
        "type": "mqtt out",
        "z": "9fcb3dc635318115",
        "name": "Define GB1",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "18635c819fe0c4ee",
        "x": 810,
        "y": 740,
        "wires": []
    },
    {
        "id": "8df46908d3e1588f",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GB 1 ?",
        "property": "$length($env(\"MQTT_GB_1_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 500,
        "y": 740,
        "wires": [
            [
                "463b336bcecafeba"
            ]
        ]
    },
    {
        "id": "e98b502114c3c2bd",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Broker",
        "rules": [
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "gb[0]",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "timeout",
                "pt": "msg",
                "to": "timeout",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 1460,
        "wires": [
            [
                "c0cd1f72ee805db3"
            ]
        ]
    },
    {
        "id": "61adb42bbdd7e80c",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Handle GB2",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.url",
                "pt": "msg",
                "to": "MQTT_GB_2_BROKER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_GB_2_BROKER\"),/wss/) or $contains($env(\"MQTT_GB_2_BROKER\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_GB_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_GB_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_GB_2_BROKERVERSION\")) = 0 ? 4 : $env(\"MQTT_GB_2_BROKERVERSION\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "gb[1]",
                "pt": "flow",
                "to": "GB_2_ID",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "gbcount[1]",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 800,
        "wires": [
            [
                "c7e95db673cf32aa"
            ]
        ]
    },
    {
        "id": "c7e95db673cf32aa",
        "type": "mqtt out",
        "z": "9fcb3dc635318115",
        "name": "Define GB2",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5899a7a7d75907f7",
        "x": 810,
        "y": 800,
        "wires": []
    },
    {
        "id": "6501692e2b510b02",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GB 2 ?",
        "property": "$length($env(\"MQTT_GB_2_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 500,
        "y": 800,
        "wires": [
            [
                "61adb42bbdd7e80c"
            ]
        ]
    },
    {
        "id": "d64f6b318f15420f",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Handle GB3",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.url",
                "pt": "msg",
                "to": "MQTT_GB_3_BROKER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_GB_3_BROKER\"),/wss/) or $contains($env(\"MQTT_GB_3_BROKER\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_GB_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_GB_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_GB_3_BROKERVERSION\")) = 0 ? 4 : $env(\"MQTT_GB_3_BROKERVERSION\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "gb[2]",
                "pt": "flow",
                "to": "GB_3_ID",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "gbcount[2]",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 860,
        "wires": [
            [
                "0b270cee312c72a1"
            ]
        ]
    },
    {
        "id": "0b270cee312c72a1",
        "type": "mqtt out",
        "z": "9fcb3dc635318115",
        "name": "Define GB3",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "085383537e4479a7",
        "x": 810,
        "y": 860,
        "wires": []
    },
    {
        "id": "3910ec40a4921a95",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GB 3 ?",
        "property": "$length($env(\"MQTT_GB_3_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 500,
        "y": 860,
        "wires": [
            [
                "d64f6b318f15420f"
            ]
        ]
    },
    {
        "id": "3e069df7efe4bcc3",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Handle GB4",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.url",
                "pt": "msg",
                "to": "MQTT_GB_4_BROKER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_GB_4_BROKER\"),/wss/) or $contains($env(\"MQTT_GB_4_BROKER\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_GB_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_GB_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_GB_4_BROKERVERSION\")) = 0 ? 4 : $env(\"MQTT_GB_4_BROKERVERSION\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "gb[3]",
                "pt": "flow",
                "to": "GB_4_ID",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "gbcount[3]",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 920,
        "wires": [
            [
                "88a9f41baf5d9833"
            ]
        ]
    },
    {
        "id": "88a9f41baf5d9833",
        "type": "mqtt out",
        "z": "9fcb3dc635318115",
        "name": "Define GB4",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d6314b59f8ceda2f",
        "x": 810,
        "y": 920,
        "wires": []
    },
    {
        "id": "70545e3412b2e853",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GB 4 ?",
        "property": "$length($env(\"MQTT_GB_4_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 500,
        "y": 920,
        "wires": [
            [
                "3e069df7efe4bcc3"
            ]
        ]
    },
    {
        "id": "40436c4c2a23b76a",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Handle GB5",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.url",
                "pt": "msg",
                "to": "MQTT_GB_5_BROKER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_GB_5_BROKER\"),/wss/) or $contains($env(\"MQTT_GB_5_BROKER\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_GB_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_GB_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_GB_5_BROKERVERSION\")) = 0 ? 4 : $env(\"MQTT_GB_5_BROKERVERSION\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "gb[4]",
                "pt": "flow",
                "to": "GB_5_ID",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "gbcount[4]",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 980,
        "wires": [
            [
                "be6ae756d8096314"
            ]
        ]
    },
    {
        "id": "be6ae756d8096314",
        "type": "mqtt out",
        "z": "9fcb3dc635318115",
        "name": "Define GB5",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "65157bf97529f3dd",
        "x": 810,
        "y": 980,
        "wires": []
    },
    {
        "id": "d865b3b3ddbaa808",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GB 5 ?",
        "property": "$length($env(\"MQTT_GB_5_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 500,
        "y": 980,
        "wires": [
            [
                "40436c4c2a23b76a"
            ]
        ]
    },
    {
        "id": "66fd9ecd68833a17",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Handle GB6",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.url",
                "pt": "msg",
                "to": "MQTT_GB_6_BROKER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_GB_6_BROKER\"),/wss/) or $contains($env(\"MQTT_GB_6_BROKER\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_GB_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_GB_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_GB_6_BROKERVERSION\")) = 0 ? 4 : $env(\"MQTT_GB_6_BROKERVERSION\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "gb[5]",
                "pt": "flow",
                "to": "GB_6_ID",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "gbcount[5]",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1040,
        "wires": [
            [
                "afdb3356d552a548"
            ]
        ]
    },
    {
        "id": "afdb3356d552a548",
        "type": "mqtt out",
        "z": "9fcb3dc635318115",
        "name": "Define GB6",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e0abf69e68f5655a",
        "x": 810,
        "y": 1040,
        "wires": []
    },
    {
        "id": "57af367797a2081f",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GB 6 ?",
        "property": "$length($env(\"MQTT_GB_6_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 500,
        "y": 1040,
        "wires": [
            [
                "66fd9ecd68833a17"
            ]
        ]
    },
    {
        "id": "e11eafc0065a562b",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Handle GB7",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.url",
                "pt": "msg",
                "to": "MQTT_GB_7_BROKER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_GB_7_BROKER\"),/wss/) or $contains($env(\"MQTT_GB_7_BROKER\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_GB_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_GB_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_GB_7_BROKERVERSION\")) = 0 ? 4 : $env(\"MQTT_GB_7_BROKERVERSION\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "gb[6]",
                "pt": "flow",
                "to": "GB_7_ID",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "gbcount[6]",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1100,
        "wires": [
            [
                "2e29e736e464c3aa"
            ]
        ]
    },
    {
        "id": "2e29e736e464c3aa",
        "type": "mqtt out",
        "z": "9fcb3dc635318115",
        "name": "Define GB7",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "86bd07697c1bc039",
        "x": 810,
        "y": 1100,
        "wires": []
    },
    {
        "id": "9b0de644f2fd750f",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GB 7 ?",
        "property": "$length($env(\"MQTT_GB_7_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 500,
        "y": 1100,
        "wires": [
            [
                "e11eafc0065a562b"
            ]
        ]
    },
    {
        "id": "3b8a4d187df574e1",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Handle GB8",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.url",
                "pt": "msg",
                "to": "MQTT_GB_8_BROKER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_GB_8_BROKER\"),/wss/) or $contains($env(\"MQTT_GB_8_BROKER\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_GB_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_GB_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_GB_8_BROKERVERSION\")) = 0 ? 4 : $env(\"MQTT_GB_8_BROKERVERSION\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "gb[7]",
                "pt": "flow",
                "to": "GB_8_ID",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "gbcount[7]",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1160,
        "wires": [
            [
                "faecf8572cd8bde9"
            ]
        ]
    },
    {
        "id": "faecf8572cd8bde9",
        "type": "mqtt out",
        "z": "9fcb3dc635318115",
        "name": "Define GB8",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0b07d12b43fc3df1",
        "x": 810,
        "y": 1160,
        "wires": []
    },
    {
        "id": "6680235392ac1b0d",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GB 8 ?",
        "property": "$length($env(\"MQTT_GB_8_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 500,
        "y": 1160,
        "wires": [
            [
                "3b8a4d187df574e1"
            ]
        ]
    },
    {
        "id": "cc06daf53d46fed3",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Handle GB9",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.url",
                "pt": "msg",
                "to": "MQTT_GB_9_BROKER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_GB_9_BROKER\"),/wss/) or $contains($env(\"MQTT_GB_0_BROKER\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_GB_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_GB_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_GB_9_BROKERVERSION\")) = 0 ? 4 : $env(\"MQTT_GB_9_BROKERVERSION\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "gb[8]",
                "pt": "flow",
                "to": "GB_9_ID",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "gbcount[8]",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1220,
        "wires": [
            [
                "e7362bcc4039080f"
            ]
        ]
    },
    {
        "id": "e7362bcc4039080f",
        "type": "mqtt out",
        "z": "9fcb3dc635318115",
        "name": "Define GB9",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f2c97bcad433a95c",
        "x": 810,
        "y": 1220,
        "wires": []
    },
    {
        "id": "fd74e273f63b6521",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GB 9 ?",
        "property": "$length($env(\"MQTT_GB_9_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 500,
        "y": 1220,
        "wires": [
            [
                "cc06daf53d46fed3"
            ]
        ]
    },
    {
        "id": "2809938283b623fc",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Handle GB10",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.url",
                "pt": "msg",
                "to": "MQTT_GB_10_BROKER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_GB_10_BROKER\"),/wss/) or $contains($env(\"MQTT_GB_10_BROKER\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_GB_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_GB_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_GB_10_BROKERVERSION\")) = 0 ? 4 : $env(\"MQTT_GB_10_BROKERVERSION\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "gb[9]",
                "pt": "flow",
                "to": "GB_10_ID",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "gbcount[9]",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 1280,
        "wires": [
            [
                "87eb1124d4f190ee"
            ]
        ]
    },
    {
        "id": "87eb1124d4f190ee",
        "type": "mqtt out",
        "z": "9fcb3dc635318115",
        "name": "Define GB10",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "92fcc20085a38a9d",
        "x": 830,
        "y": 1280,
        "wires": []
    },
    {
        "id": "725d4f21e24a430a",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GB 10 ?",
        "property": "$length($env(\"MQTT_GB_10_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 500,
        "y": 1280,
        "wires": [
            [
                "2809938283b623fc"
            ]
        ]
    },
    {
        "id": "2a93d4894f20077a",
        "type": "catch",
        "z": "9fcb3dc635318115",
        "name": "",
        "scope": [
            "95bd8bfc43f81ec4",
            "c7e95db673cf32aa",
            "0b270cee312c72a1",
            "88a9f41baf5d9833",
            "be6ae756d8096314",
            "afdb3356d552a548",
            "2e29e736e464c3aa",
            "faecf8572cd8bde9",
            "e7362bcc4039080f",
            "87eb1124d4f190ee"
        ],
        "uncaught": false,
        "x": 500,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "fce927e3a0f0c278",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GB 1 ?",
        "property": "$length($env(\"MQTT_GB_1_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 500,
        "y": 1460,
        "wires": [
            [
                "1524047909cc0ad3"
            ]
        ]
    },
    {
        "id": "378b81b1f6f01883",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GB 2 ?",
        "property": "$length($env(\"MQTT_GB_2_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 500,
        "y": 1520,
        "wires": [
            [
                "5f46d78100bce007"
            ]
        ]
    },
    {
        "id": "2471bc295382694f",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GB 3 ?",
        "property": "$length($env(\"MQTT_GB_3_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 500,
        "y": 1580,
        "wires": [
            [
                "7314b19f8a3ba866"
            ]
        ]
    },
    {
        "id": "90b9986f88f1e8c4",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GB 4 ?",
        "property": "$length($env(\"MQTT_GB_4_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 500,
        "y": 1640,
        "wires": [
            [
                "501b00a863351d82"
            ]
        ]
    },
    {
        "id": "63d9c5cde307d4da",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GB 5 ?",
        "property": "$length($env(\"MQTT_GB_5_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 500,
        "y": 1700,
        "wires": [
            [
                "df86ac975d222519"
            ]
        ]
    },
    {
        "id": "d385aa05bd17d09b",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GB 6 ?",
        "property": "$length($env(\"MQTT_GB_6_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 500,
        "y": 1760,
        "wires": [
            [
                "990e40cc7bd8b58c"
            ]
        ]
    },
    {
        "id": "817fccedb8cc9eeb",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GB 7 ?",
        "property": "$length($env(\"MQTT_GB_7_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 500,
        "y": 1820,
        "wires": [
            [
                "5db8f74e84072b92"
            ]
        ]
    },
    {
        "id": "113f8128d0ab1bdb",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GB 8 ?",
        "property": "$length($env(\"MQTT_GB_8_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 500,
        "y": 1880,
        "wires": [
            [
                "b224604072d76a4a"
            ]
        ]
    },
    {
        "id": "3016fb2f63e7130e",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GB 9 ?",
        "property": "$length($env(\"MQTT_GB_9_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 500,
        "y": 1940,
        "wires": [
            [
                "96f32da81e5bdf89"
            ]
        ]
    },
    {
        "id": "41ef9bd32cc82579",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GB 10 ?",
        "property": "$length($env(\"MQTT_GB_10_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 500,
        "y": 2000,
        "wires": [
            [
                "ef8e2810db866bc2"
            ]
        ]
    },
    {
        "id": "1524047909cc0ad3",
        "type": "mqtt in",
        "z": "9fcb3dc635318115",
        "name": "GB1",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "18635c819fe0c4ee",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 630,
        "y": 1460,
        "wires": [
            [
                "e98b502114c3c2bd"
            ]
        ]
    },
    {
        "id": "5f46d78100bce007",
        "type": "mqtt in",
        "z": "9fcb3dc635318115",
        "name": "GB2",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5899a7a7d75907f7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 630,
        "y": 1520,
        "wires": [
            [
                "a3bbba2d555230d6"
            ]
        ]
    },
    {
        "id": "7314b19f8a3ba866",
        "type": "mqtt in",
        "z": "9fcb3dc635318115",
        "name": "GB3",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "085383537e4479a7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 630,
        "y": 1580,
        "wires": [
            [
                "5c5ec5929c9d4e90"
            ]
        ]
    },
    {
        "id": "501b00a863351d82",
        "type": "mqtt in",
        "z": "9fcb3dc635318115",
        "name": "GB4",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d6314b59f8ceda2f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 630,
        "y": 1640,
        "wires": [
            [
                "01ca357541b4e43c"
            ]
        ]
    },
    {
        "id": "df86ac975d222519",
        "type": "mqtt in",
        "z": "9fcb3dc635318115",
        "name": "GB5",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "65157bf97529f3dd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 630,
        "y": 1700,
        "wires": [
            [
                "d3070628abf29b6c"
            ]
        ]
    },
    {
        "id": "990e40cc7bd8b58c",
        "type": "mqtt in",
        "z": "9fcb3dc635318115",
        "name": "GB6",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e0abf69e68f5655a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 630,
        "y": 1760,
        "wires": [
            [
                "b1d7bd71cecdd59c"
            ]
        ]
    },
    {
        "id": "5db8f74e84072b92",
        "type": "mqtt in",
        "z": "9fcb3dc635318115",
        "name": "GB7",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "86bd07697c1bc039",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 630,
        "y": 1820,
        "wires": [
            [
                "01d3749a0a1d4e91"
            ]
        ]
    },
    {
        "id": "b224604072d76a4a",
        "type": "mqtt in",
        "z": "9fcb3dc635318115",
        "name": "GB8",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0b07d12b43fc3df1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 630,
        "y": 1880,
        "wires": [
            [
                "9f7b2dd4e173327f"
            ]
        ]
    },
    {
        "id": "96f32da81e5bdf89",
        "type": "mqtt in",
        "z": "9fcb3dc635318115",
        "name": "GB9",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f2c97bcad433a95c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 630,
        "y": 1940,
        "wires": [
            [
                "7205836261eba8a3"
            ]
        ]
    },
    {
        "id": "ef8e2810db866bc2",
        "type": "mqtt in",
        "z": "9fcb3dc635318115",
        "name": "GB10",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "92fcc20085a38a9d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 630,
        "y": 2000,
        "wires": [
            [
                "bd93f084b5932dfb"
            ]
        ]
    },
    {
        "id": "a3bbba2d555230d6",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Broker",
        "rules": [
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "gb[1]",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "timeout",
                "pt": "msg",
                "to": "timeout",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 1520,
        "wires": [
            [
                "11c14e9a7351adf6"
            ]
        ]
    },
    {
        "id": "5c5ec5929c9d4e90",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Broker",
        "rules": [
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "gb[2]",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "timeout",
                "pt": "msg",
                "to": "timeout",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 1580,
        "wires": [
            [
                "ea6fec4dc5ee5f0e"
            ]
        ]
    },
    {
        "id": "01ca357541b4e43c",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Broker",
        "rules": [
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "gb[3]",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "timeout",
                "pt": "msg",
                "to": "timeout",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 1640,
        "wires": [
            [
                "bbd9dfc107316be1"
            ]
        ]
    },
    {
        "id": "d3070628abf29b6c",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Broker",
        "rules": [
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "gb[4]",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 1700,
        "wires": [
            [
                "2670d1d388dc7c71"
            ]
        ]
    },
    {
        "id": "b1d7bd71cecdd59c",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Broker",
        "rules": [
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "gb[5]",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 1760,
        "wires": [
            [
                "efddcd211edcadde"
            ]
        ]
    },
    {
        "id": "01d3749a0a1d4e91",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Broker",
        "rules": [
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "gb[6]",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 1820,
        "wires": [
            [
                "931ee37392dd327b"
            ]
        ]
    },
    {
        "id": "9f7b2dd4e173327f",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Broker",
        "rules": [
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "gb[7]",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 1880,
        "wires": [
            [
                "b2635cc5c2071f2a"
            ]
        ]
    },
    {
        "id": "7205836261eba8a3",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Broker",
        "rules": [
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "gb[8]",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 1940,
        "wires": [
            [
                "1d6873b99e85c90a"
            ]
        ]
    },
    {
        "id": "bd93f084b5932dfb",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Broker",
        "rules": [
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "gb[9]",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 2000,
        "wires": [
            [
                "4f89087ad937c93b"
            ]
        ]
    },
    {
        "id": "69d918da6000d2a3",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "# GB",
        "rules": [
            {
                "t": "set",
                "p": "maxgb",
                "pt": "flow",
                "to": "$count($flowContext(\"gb\"))",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "d86d72db156b12d2",
        "type": "complete",
        "z": "9fcb3dc635318115",
        "name": "",
        "scope": [
            "95bd8bfc43f81ec4",
            "c7e95db673cf32aa",
            "0b270cee312c72a1",
            "88a9f41baf5d9833",
            "be6ae756d8096314",
            "afdb3356d552a548",
            "2e29e736e464c3aa",
            "faecf8572cd8bde9",
            "e7362bcc4039080f",
            "87eb1124d4f190ee"
        ],
        "uncaught": false,
        "x": 510,
        "y": 1400,
        "wires": [
            [
                "69d918da6000d2a3"
            ]
        ]
    },
    {
        "id": "77cdbde2fd01bcb3",
        "type": "q-gate",
        "z": "9fcb3dc635318115",
        "name": "",
        "controlTopic": "control",
        "defaultState": "closed",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "queueCmd": "queue",
        "defaultCmd": "default",
        "triggerCmd": "trigger",
        "flushCmd": "flush",
        "resetCmd": "reset",
        "peekCmd": "peek",
        "dropCmd": "drop",
        "statusCmd": "status",
        "maxQueueLength": "1",
        "keepNewest": false,
        "qToggle": false,
        "persist": false,
        "storeName": "memory",
        "x": 950,
        "y": 1460,
        "wires": [
            [
                "0bdd98f3f450a3d3"
            ]
        ]
    },
    {
        "id": "6506e7acfea9cd7c",
        "type": "q-gate",
        "z": "9fcb3dc635318115",
        "name": "",
        "controlTopic": "control",
        "defaultState": "closed",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "queueCmd": "queue",
        "defaultCmd": "default",
        "triggerCmd": "trigger",
        "flushCmd": "flush",
        "resetCmd": "reset",
        "peekCmd": "peek",
        "dropCmd": "drop",
        "statusCmd": "status",
        "maxQueueLength": "1",
        "keepNewest": false,
        "qToggle": false,
        "persist": false,
        "storeName": "memory",
        "x": 950,
        "y": 1520,
        "wires": [
            [
                "38a05386c23c12a4"
            ]
        ]
    },
    {
        "id": "0bdd98f3f450a3d3",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "+1",
        "rules": [
            {
                "t": "set",
                "p": "gbcount[0]",
                "pt": "flow",
                "to": "$flowContext(\"gbcount[0]\") + 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "efb9314482b9601f",
        "type": "cronplus",
        "z": "9fcb3dc635318115",
        "name": "Every 5'",
        "outputField": "payload",
        "timeZone": "",
        "storeName": "",
        "commandResponseMsgOutput": "output1",
        "defaultLocation": "",
        "defaultLocationType": "default",
        "outputs": 1,
        "options": [
            {
                "name": "schedule1",
                "topic": "control",
                "payloadType": "str",
                "payload": "open",
                "expressionType": "cron",
                "expression": "*/30 * * * * * ",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 700,
        "y": 2140,
        "wires": [
            [
                "085f1b2e4f388948"
            ]
        ]
    },
    {
        "id": "21aefe5bb790472f",
        "type": "split",
        "z": "9fcb3dc635318115",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 1040,
        "y": 2140,
        "wires": [
            [
                "5072d7d41c6e58c9"
            ]
        ]
    },
    {
        "id": "4c6e214a87d116c5",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Count GB",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "gbcount",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 2140,
        "wires": [
            [
                "21aefe5bb790472f"
            ]
        ]
    },
    {
        "id": "5072d7d41c6e58c9",
        "type": "function",
        "z": "9fcb3dc635318115",
        "name": "Display & Reset",
        "func": "// Assume value is stored in flow context\nlet i = msg.parts.index\nlet number = msg.payload\nlet gb = flow.get(\"gb\");\nlet gbcount = flow.get(\"gbcount\")\nlet topic = flow.get(\"topic\")\nlet sensorid = flow.get(\"sensorid\")\n\nmsg.payload = {\n    \"op\": \"inc\",\n    \"labels\": {\n        \"centre_id\": gb[i],\n        \"report_by\": sensorid,\n        \"topic\": topic\n    },\n    \"val\": gbcount[i]\n}\n\ngbcount[i] = 0;\n\nflow.set(\"gbcount\", gbcount)\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 2140,
        "wires": [
            [
                "9e92109589568224"
            ]
        ]
    },
    {
        "id": "0c30063b7b233956",
        "type": "q-gate",
        "z": "9fcb3dc635318115",
        "name": "",
        "controlTopic": "control",
        "defaultState": "closed",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "queueCmd": "queue",
        "defaultCmd": "default",
        "triggerCmd": "trigger",
        "flushCmd": "flush",
        "resetCmd": "reset",
        "peekCmd": "peek",
        "dropCmd": "drop",
        "statusCmd": "status",
        "maxQueueLength": "100",
        "keepNewest": false,
        "qToggle": false,
        "persist": false,
        "storeName": "memory",
        "x": 950,
        "y": 1580,
        "wires": [
            [
                "b87561d2b597ce4c"
            ]
        ]
    },
    {
        "id": "daf9d15bcf6c2ad5",
        "type": "q-gate",
        "z": "9fcb3dc635318115",
        "name": "",
        "controlTopic": "control",
        "defaultState": "closed",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "queueCmd": "queue",
        "defaultCmd": "default",
        "triggerCmd": "trigger",
        "flushCmd": "flush",
        "resetCmd": "reset",
        "peekCmd": "peek",
        "dropCmd": "drop",
        "statusCmd": "status",
        "maxQueueLength": "100",
        "keepNewest": false,
        "qToggle": false,
        "persist": false,
        "storeName": "memory",
        "x": 950,
        "y": 1640,
        "wires": [
            [
                "96d711fa6b038fd0"
            ]
        ]
    },
    {
        "id": "aed75b6fcc73841b",
        "type": "q-gate",
        "z": "9fcb3dc635318115",
        "name": "",
        "controlTopic": "control",
        "defaultState": "closed",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "queueCmd": "queue",
        "defaultCmd": "default",
        "triggerCmd": "trigger",
        "flushCmd": "flush",
        "resetCmd": "reset",
        "peekCmd": "peek",
        "dropCmd": "drop",
        "statusCmd": "status",
        "maxQueueLength": "100",
        "keepNewest": false,
        "qToggle": false,
        "persist": false,
        "storeName": "memory",
        "x": 950,
        "y": 1700,
        "wires": [
            [
                "b94df2a876c5e434"
            ]
        ]
    },
    {
        "id": "e5eff1e6ca25b60c",
        "type": "q-gate",
        "z": "9fcb3dc635318115",
        "name": "",
        "controlTopic": "control",
        "defaultState": "closed",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "queueCmd": "queue",
        "defaultCmd": "default",
        "triggerCmd": "trigger",
        "flushCmd": "flush",
        "resetCmd": "reset",
        "peekCmd": "peek",
        "dropCmd": "drop",
        "statusCmd": "status",
        "maxQueueLength": "100",
        "keepNewest": false,
        "qToggle": false,
        "persist": false,
        "storeName": "memory",
        "x": 950,
        "y": 1760,
        "wires": [
            [
                "863f21cc849c1c9e"
            ]
        ]
    },
    {
        "id": "b56393b6ccce6403",
        "type": "q-gate",
        "z": "9fcb3dc635318115",
        "name": "",
        "controlTopic": "control",
        "defaultState": "closed",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "queueCmd": "queue",
        "defaultCmd": "default",
        "triggerCmd": "trigger",
        "flushCmd": "flush",
        "resetCmd": "reset",
        "peekCmd": "peek",
        "dropCmd": "drop",
        "statusCmd": "status",
        "maxQueueLength": "100",
        "keepNewest": false,
        "qToggle": false,
        "persist": false,
        "storeName": "memory",
        "x": 950,
        "y": 1820,
        "wires": [
            [
                "2d6d943f3a3e6b3c"
            ]
        ]
    },
    {
        "id": "a60560cb95361988",
        "type": "q-gate",
        "z": "9fcb3dc635318115",
        "name": "",
        "controlTopic": "control",
        "defaultState": "closed",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "queueCmd": "queue",
        "defaultCmd": "default",
        "triggerCmd": "trigger",
        "flushCmd": "flush",
        "resetCmd": "reset",
        "peekCmd": "peek",
        "dropCmd": "drop",
        "statusCmd": "status",
        "maxQueueLength": "100",
        "keepNewest": false,
        "qToggle": false,
        "persist": false,
        "storeName": "memory",
        "x": 950,
        "y": 1880,
        "wires": [
            [
                "856d5b23a10893c1"
            ]
        ]
    },
    {
        "id": "f870a0a5211cf831",
        "type": "q-gate",
        "z": "9fcb3dc635318115",
        "name": "",
        "controlTopic": "control",
        "defaultState": "closed",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "queueCmd": "queue",
        "defaultCmd": "default",
        "triggerCmd": "trigger",
        "flushCmd": "flush",
        "resetCmd": "reset",
        "peekCmd": "peek",
        "dropCmd": "drop",
        "statusCmd": "status",
        "maxQueueLength": "100",
        "keepNewest": false,
        "qToggle": false,
        "persist": false,
        "storeName": "memory",
        "x": 950,
        "y": 1940,
        "wires": [
            [
                "f33c114edc9a8697"
            ]
        ]
    },
    {
        "id": "17e5cd99902a7bcc",
        "type": "q-gate",
        "z": "9fcb3dc635318115",
        "name": "",
        "controlTopic": "control",
        "defaultState": "closed",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "queueCmd": "queue",
        "defaultCmd": "default",
        "triggerCmd": "trigger",
        "flushCmd": "flush",
        "resetCmd": "reset",
        "peekCmd": "peek",
        "dropCmd": "drop",
        "statusCmd": "status",
        "maxQueueLength": "100",
        "keepNewest": false,
        "qToggle": false,
        "persist": false,
        "storeName": "memory",
        "x": 950,
        "y": 2000,
        "wires": [
            [
                "4b0fe8b2419a8e24"
            ]
        ]
    },
    {
        "id": "38a05386c23c12a4",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "+1",
        "rules": [
            {
                "t": "set",
                "p": "gbcount[1]",
                "pt": "flow",
                "to": "$flowContext(\"gbcount[1]\") + 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "b87561d2b597ce4c",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "+1",
        "rules": [
            {
                "t": "set",
                "p": "gbcount[2]",
                "pt": "flow",
                "to": "$flowContext(\"gbcount[2]\") + 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "96d711fa6b038fd0",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "+1",
        "rules": [
            {
                "t": "set",
                "p": "gbcount[3]",
                "pt": "flow",
                "to": "$flowContext(\"gbcount[3]\") + 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "b94df2a876c5e434",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "+1",
        "rules": [
            {
                "t": "set",
                "p": "gbcount[4]",
                "pt": "flow",
                "to": "$flowContext(\"gbcount[4]\") + 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "863f21cc849c1c9e",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "+1",
        "rules": [
            {
                "t": "set",
                "p": "gbcount[5]",
                "pt": "flow",
                "to": "$flowContext(\"gbcount[5]\") + 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "2d6d943f3a3e6b3c",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "+1",
        "rules": [
            {
                "t": "set",
                "p": "gbcount[6]",
                "pt": "flow",
                "to": "$flowContext(\"gbcount[6]\") + 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "856d5b23a10893c1",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "+1",
        "rules": [
            {
                "t": "set",
                "p": "gbcount[7]",
                "pt": "flow",
                "to": "$flowContext(\"gbcount[7]\") + 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 1880,
        "wires": [
            []
        ]
    },
    {
        "id": "f33c114edc9a8697",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "+1",
        "rules": [
            {
                "t": "set",
                "p": "gbcount[0]",
                "pt": "flow",
                "to": "$flowContext(\"gbcount[8]\") + 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 1940,
        "wires": [
            []
        ]
    },
    {
        "id": "4b0fe8b2419a8e24",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "+1",
        "rules": [
            {
                "t": "set",
                "p": "gbcount[0]",
                "pt": "flow",
                "to": "$flowContext(\"gbcount[9]\") + 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 2000,
        "wires": [
            []
        ]
    }
]